*
*::before,
*::after{
    box-sizing: border-box;
}

/* <600px, 601px, 768px, 992px, 1200px */

@media only screen and (min-width: 600px) {

    .header-wrapper{
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {

    .header-wrapper{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    .header-wrapper{
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {

    .header-wrapper{
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {

    .header-wrapper{
        width: 100%;
    }
}

.col-1{
    flex:0 0 auto;
    width: 8.333333333%;
}

.col-2{
    flex:0 0 auto;
    width: 16.666666666%;
}

.col-3{
    flex:0 0 auto;
    width: 25%;
}

.col-4{
    flex:0 0 auto;
    width: 33.333333333%;
}

.col-5{
    flex:0 0 auto;
    width: 41.666666666%;
}

.col-6{
    flex:0 0 auto;
    width: 50%;
}

.col-7{
    flex:0 0 auto;
    width: 58.333333333%;
}

.col-8{
    flex:0 0 auto;
    width: 66.666666666%;
}

.col-9{
    flex:0 0 auto;
    width: 75%;
}

.col-10{
    flex:0 0 auto;
    width: 83.333333333%;
}

.col-11{
    flex:0 0 auto;
    width: 91.666666666%;
}

.col-12{
    flex:0 0 auto;
    width: 100%;
}

@font-face {
    font-family: Cocogoose;
    src: url(../Cocogoose.ttf);
}

@font-face {
    font-family: MyriadPro;
    src: url(../MyriadPro.otf);
}

body{
    margin: 0;
    background-color: var(--white);
}

.root{
    --black: #2d2d2d;
    --white: #e5e1e1;
    --yellow: #fd9b2e;
    --blue: #44679d;
    --pink: #f87ca0;
}

.logo{
    margin: 20px;
    width: 50px;
    height: 25px;
    float: right;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: -2;
    position: relative;
}

:root {
    --bar-width: 50px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    grid-gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 100;
    cursor: pointer;
}

.hamburger-menu:has(input:checked){
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

/*if already checked then*/
.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar{
    transition: transform var(--animation-timing);
    transform: translateX(-100%);
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    max-width: all;
    min-height: 100vh;
    overflow-y: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.hamburger-menu:has(input:checked) + .sidebar{
    transform: translateX(0);
}

.navLink{
    display: block;
    padding-top: 6px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 125px;
}

.profile-img{
    padding-left: 145px;
    padding-right: 150px;
    height: 250px;
    z-index: -2;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.img img{
    position: relative;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 25px #2d2d2d;
}

/* .img img:hover{
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--black));
} */

.profile-content-name,
.profile-content-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-content-name,
.profile-content-text{
    padding-left: 145px;
    padding-right: 150px;
}

.name{
    font-family: MyriadPro;
    font-size: 20pt;
    width: 50%;
    text-align: center;
}

.text {
    font-family: MyriadPro;
    font-size: 16pt;
    width: 50%;
    text-align: center;
}

/* Expectations section */
.expect{
    background-color:black;
    position: relative;
    margin-top:46%;
    margin-bottom: 0%;
    padding-bottom: 0;
    width: 100%;
}

.expect-title{
    font-family: Cocogoose;
    font-size: 15pt;
    color: white;
    padding-top: 7%;
    letter-spacing: 0.01em;
    padding-left: 10%;
}
.expect-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
}

.expect-box{
    background-color: transparent;
    height: 200px;
    border-radius: 48px;
    cursor: pointer;
}

.expect-box, .expect-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5em;
}

.expect-info h5{
    font-family: Cocogoose;
    font-size: 20pt;
    margin-bottom: 16px;
    color: #fd9b2e;
}

.expect-info p{
    font-family: MyriadPro;
    font-size: 14pt;
    max-height: 100px;
    margin: auto;
    color: #fd9b2e;
}

.footer{
    margin: 20px;
    background-color: white;
}

.contact{
    font-family: MyriadPro;
    font-size: 14pt;
    padding-top: 10px;
}

.button{
    appearance: button;
    backface-visibility: hidden;
    background-color: #fd9b2e;
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: MyriadPro;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 15%;
}

.button-9:disabled {
  cursor: default;
}

.social{
    font-family: MyriadPro;
    font-size: 14pt;
    padding-top: 0px;
}