* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Cocogoose;
  src: url(../Cocogoose.ttf);
}
@font-face{
    font-family:MyriadPro;
    src:url(../MyriadPro.OTF);
}

h1 {
 font-family: Cocogoose;
 color: white;
}

h2 {
 font-family: Cocogoose;
 color: black;
}

p {
  font-family: Cocogoose;
  color: white;
}

p2 {
  font-family: Cocogoose;
  color: black;
}

p3 {
    font-family: MyriadPro, sans-serif;
    color: white;
}

header {
  position: absolute;
  padding: 30px;
}


.logo_header
{
    position: fixed;
    top: 30px;
    left: 50px;
    width: 50px;
    z-index: 1000;
}

main {
  padding: 0;
  margin: 0;
}

.banner {
  padding: 0;
  margin: 0;
  position: relative;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: 100%;
  display: block;

}

.openbtn {
  position: fixed;
  cursor: pointer; 
  background-color: transparent;
  border: none;
  top: 35px;
  right: 40px;
  font-size: 50px;
  margin-left: 150px;
  z-index: 1;
  padding: 0 15px;
}

.openbtn:hover {
  background-color: #444;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Cocogoose;
  font-size: 25pt;
  text-align: center;
  color: #fd9b2e;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 50px;
  margin-left: 150px;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 5.5rem;
  margin-bottom: 10px;
  text-align: center;
  color:white;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.portfolio{
  background-color: #fd9b2e;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 180px;
}

.portfolio-content{
  width: 100%;
  text-align: center;
}

.portfolio-content h2{
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}


.artwork-btn{
  font-family: Cocogoose;
  font-size: 20px;
  background: black;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0, 0,1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3px;
  transition-property: box-shadow, transform;
}

.artwork-btn:hover, .artwork-btn:focus, .artwork-btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -websit-transform: scale(1.1);
  transform: scale(1.1);
}

.photograph-btn{
  font-family: Cocogoose;
  font-size: 20px;
  background: black;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0, 0,1);
  -website-transition-duration: 0.3s;
  transition-duration: 0.3px;
  transition-property: box-shadow, transform;
}

.photograph-btn:hover, .photograph-btn:focus, .photograph-btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -websit-transform: scale(1.1);
  transform: scale(1.1);
}

.illustration-row-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 60px;
}

.illustration-row {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
}

.illustration-row img {
  width: calc(25% - 15px);
  height: auto;
}

.more-btn-content {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 30px;
    
}

.more-btn{
  font-family: Cocogoose;
  font-size: 20px;
  background: black;
  width: 160px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0, 0,1);
  -website-transition-duration: 0.3s;
  transition-duration: 0.3px;
  transition-property: box-shadow, transform;
}

.more-btn:hover, .more-btn:focus, .more-btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -websit-transform: scale(1.1);
  transform: scale(1.1);
}

.footer-content {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    font-family: MyriadPro; 
    width: 100%;
    padding: 50px 0;
    background-color: black;
}

.footer-btn{
    appearance: button;
    backface-visibility: hidden;
    background-color: #fd9b2e;
    border-radius: 6px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: MyriadPro;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 auto;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 75%;
    margin-top: 20px;
}

.button-9:disabled
{
  cursor: default;
}

.social-icon
{
    font-family: MyriadPro;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.copyright-logo
{
    display: flex;
    flex-direction: column;
}

.logo-footer
{
    position: relative;
    top: 50px;
}

.logo-footer img {
    width:50px;
}

@media (max-width: 1142px) {
  .hero-content h1 {
    font-size: 4rem;
    margin-bottom: 5px;
  }

  .hero-content p {
      font-size: 1rem;
      margin-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 4px;
  }

  .hero-content p {
      font-size: 0.8rem;
      margin-bottom: 6px;
  }
}


@media (max-width: 768px) {
  .illustration-row img {
      width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .illustration-row img {
      width: 100%;
  }
}
